In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set()
import warnings
warnings.filterwarnings('ignore')
import os

In [3]:
amazon_credit = pd.read_csv('credits_Amazon.csv')
amazon_title = pd.read_csv('titles_Amazon.csv')
hotstar_credit = pd.read_csv('credits_Hotstar.csv')
hotstar_title = pd.read_csv('titles_Hotstar.csv')
netflix_credit = pd.read_csv('credits_Netflix.csv')
netflix_titles = pd.read_csv('titles_Netflix.csv')
paramount_credit = pd.read_csv('credits_Paramount.csv')
paramount_title = pd.read_csv('titles_Paramount.csv')
hbo_credit = pd.read_csv('credits_Hbo.csv')
hbo_title = pd.read_csv('titles_Hbo.csv')
apple_credit = pd.read_csv('credits_Apple.csv')
apple_title = pd.read_csv('titles_Apple.csv')

In [4]:
amazon_credit.head(2)

   person_id       id           name      character   role
0      25020  tm87233  James Stewart  George Bailey  ACTOR
1      26190  tm87233     Donna Reed     Mary Hatch  ACTOR

In [20]:
amazon_title.head(2)

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,tm87233,It's a Wonderful Life,MOVIE,A holiday favourite for generations... George...,1946,PG,130,"['drama', 'family', 'fantasy', 'romance', 'com...",['US'],NaN,tt0038650,8.6,467766.0,27.611,8.261
1,tm143047,Duck Soup,MOVIE,Rufus T. Firefly is named president/dictator o...,1933,NaN,69,"['comedy', 'war']",['US'],NaN,tt0023969,7.8,60933.0,9.013,7.357

In [27]:
credit_list = [amazon_credit,hotstar_credit,netflix_credit,paramount_credit,hbo_credit,apple_credit]
for i in credit_list:
    print(i.shape)

(140553, 5)
(30689, 5)
(81355, 5)
(51195, 5)
(64879, 5)
(1875, 5)

In [28]:
title_list = [amazon_title,hotstar_title,netflix_titles,paramount_title,hbo_title,apple_title]
for i in title_list:
    print(i.shape)

(10873, 15)
(1854, 15)
(6137, 15)
(3182, 15)
(3030, 15)
(170, 15)

In [30]:
credits = pd.concat([amazon_credit,hotstar_credit,netflix_credit,paramount_credit,hbo_credit,apple_credit],axis = 0)

In [31]:
credits.shape

(370546, 5)

In [32]:
titles = pd.concat(title_list,axis=0)

In [33]:
titles.shape

(25246, 15)

In [37]:
credits.duplicated().sum()

34605

In [40]:
credits[credits.duplicated()].head()

      person_id       id            name     character   role
4672       1305  tm57241  Drew Barrymore  Josie Geller  ACTOR
4673        906  tm57241  David Arquette    Rob Geller  ACTOR
4674       5151  tm57241   Molly Shannon         Anita  ACTOR
4675      33832  tm57241  Michael Vartan   Sam Coulson  ACTOR
4676       5256  tm57241    Jessica Alba       Kirsten  ACTOR

In [41]:
credits.drop_duplicates(inplace = True)

In [42]:
credits.shape

(335941, 5)

In [43]:
titles.duplicated().sum()

1884

In [44]:
titles.drop_duplicates(inplace = True)

In [45]:
titles.shape

(23362, 15)

In [59]:
titles.isnull().sum()

id                          0
title                       0
type                        0
description               195
release_year                0
age_certification       11981
runtime                     0
genres                      0
production_countries        0
seasons                 17739
imdb_id                  1950
imdb_score               2558
imdb_votes               2618
tmdb_popularity           720
tmdb_score               3000
dtype: int64

In [49]:
df = pd.merge(titles,credits,on = 'id',how = 'outer')

In [50]:
df.shape

(337899, 19)

In [55]:
df.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,person_id,name,character,role
0,tm87233,It's a Wonderful Life,MOVIE,A holiday favourite for generations... George...,1946,PG,130,"['drama', 'family', 'fantasy', 'romance', 'com...",['US'],NaN,tt0038650,8.6,467766.0,27.611,8.261,25020.0,James Stewart,George Bailey,ACTOR
1,tm87233,It's a Wonderful Life,MOVIE,A holiday favourite for generations... George...,1946,PG,130,"['drama', 'family', 'fantasy', 'romance', 'com...",['US'],NaN,tt0038650,8.6,467766.0,27.611,8.261,26190.0,Donna Reed,Mary Hatch,ACTOR
2,tm87233,It's a Wonderful Life,MOVIE,A holiday favourite for generations... George...,1946,PG,130,"['drama', 'family', 'fantasy', 'romance', 'com...",['US'],NaN,tt0038650,8.6,467766.0,27.611,8.261,25653.0,Lionel Barrymore,Mr. Potter,ACTOR
3,tm87233,It's a Wonderful Life,MOVIE,A holiday favourite for generations... George...,1946,PG,130,"['drama', 'family', 'fantasy', 'romance', 'com...",['US'],NaN,tt0038650,8.6,467766.0,27.611,8.261,13301.0,Thomas Mitchell,Uncle Billy,ACTOR
4,tm87233,It's a Wonderful Life,MOVIE,A holiday favourite for generations... George...,1946,PG,130,"['drama', 'family', 'fantasy', 'romance', 'com...",['US'],NaN,tt0038650,8.6,467766.0,27.611,8.261,34171.0,Henry Travers,Clarence,ACTOR

In [56]:
df.tail()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,person_id,name,character,role
337894,ts374301,Super League: The War For Football,SHOW,"The past, present, and future of European foot...",2023,TV-MA,0,"['documentation', 'sport']",['US'],1.0,tt24587530,7.4,414.0,6.800,6.7,NaN,NaN,NaN,NaN
337895,ts377681,Shape Island,SHOW,"On a charming island, Square, Triangle, and Ci...",2023,TV-G,24,"['family', 'animation', 'fantasy', 'comedy']",['US'],1.0,tt25515858,7.6,121.0,18.529,9.2,677278.0,Gideon Adlon,Circle (voice),ACTOR
337896,ts377681,Shape Island,SHOW,"On a charming island, Square, Triangle, and Ci...",2023,TV-G,24,"['family', 'animation', 'fantasy', 'comedy']",['US'],1.0,tt25515858,7.6,121.0,18.529,9.2,7103.0,Scott Adsit,Triangle (voice),ACTOR
337897,ts377681,Shape Island,SHOW,"On a charming island, Square, Triangle, and Ci...",2023,TV-G,24,"['family', 'animation', 'fantasy', 'comedy']",['US'],1.0,tt25515858,7.6,121.0,18.529,9.2,56160.0,Harvey Guillén,Square (voice),ACTOR
337898,ts377681,Shape Island,SHOW,"On a charming island, Square, Triangle, and Ci...",2023,TV-G,24,"['family', 'animation', 'fantasy', 'comedy']",['US'],1.0,tt25515858,7.6,121.0,18.529,9.2,12386.0,Yvette Nicole Brown,Narrator (voice),ACTOR

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 337899 entries, 0 to 337898
Data columns (total 19 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    337899 non-null  object
 1   title                 337899 non-null  object
 2   type                  337899 non-null  object
 3   description           337448 non-null  object
 4   release_year          337899 non-null  int64
 5   age_certification     202737 non-null  object
 6   runtime               337899 non-null  int64
 7   genres                337899 non-null  object
 8   production_countries  337899 non-null  object
 9   seasons               35957 non-null   float64
 10  imdb_id               321958 non-null  object
 11  imdb_score            319863 non-null  float64
 12  imdb_votes            319418 non-null  float64
 13  tmdb_popularity       337153 non-null  float64
 14  tmdb_score            324390 non-null  float64
 15  person_id             336023 non-null  float64
 16  name                  336023 non-null  object
 17  character             299987 non-null  object
 18  role                  336023 non-null  object
dtypes: float64(6), int64(2), object(11)
memory usage: 51.6+ MB

In [62]:
df.type.unique()

array(['MOVIE', 'SHOW'], dtype=object)

In [68]:
df.groupby('type').seasons.count()

type
MOVIE        0
SHOW     35957
Name: seasons, dtype: int64

In [ ]:
# This shows that missing values in season is from Movie section only

In [69]:
df.seasons.fillna(0,inplace = True)

In [75]:
df.isnull().sum()

id                          0
title                       0
type                        0
description               451
release_year                0
runtime                     0
genres                      0
production_countries        0
seasons                     0
imdb_id                 15941
imdb_score              18036
imdb_votes              18481
tmdb_popularity           746
tmdb_score              13509
person_id                1876
name                     1876
character               37912
role                     1876
dtype: int64

In [74]:
df.drop(['age_certification'],axis = 1,inplace = True)

In [76]:
df.isnull().sum()/len(df)*100

id                       0.000000
title                    0.000000
type                     0.000000
description              0.133472
release_year             0.000000
runtime                  0.000000
genres                   0.000000
production_countries     0.000000
seasons                  0.000000
imdb_id                  4.717682
imdb_score               5.337690
imdb_votes               5.469386
tmdb_popularity          0.220776
tmdb_score               3.997940
person_id                0.555195
name                     0.555195
character               11.219921
role                     0.555195
dtype: float64

In [77]:
df1 = df.copy()

In [152]:
df = df1.copy()

In [153]:
df1.shape

(337899, 18)

In [154]:
df.shape

(337899, 18)

In [155]:
df.dropna(inplace = True)

In [177]:
df.shape[0]/df1.shape[0]*100

82.13253072663726

In [157]:
# We have 82.4% of data

In [158]:
df.head(2)

,id,title,type,description,release_year,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,person_id,name,character,role
0,tm87233,It's a Wonderful Life,MOVIE,A holiday favourite for generations... George...,1946,130,"['drama', 'family', 'fantasy', 'romance', 'com...",['US'],0.0,tt0038650,8.6,467766.0,27.611,8.261,25020.0,James Stewart,George Bailey,ACTOR
1,tm87233,It's a Wonderful Life,MOVIE,A holiday favourite for generations... George...,1946,130,"['drama', 'family', 'fantasy', 'romance', 'com...",['US'],0.0,tt0038650,8.6,467766.0,27.611,8.261,26190.0,Donna Reed,Mary Hatch,ACTOR

In [159]:
df.drop(['id','imdb_id'],axis = 1,inplace = True)

In [163]:
df.head(2)

,title,type,description,release_year,runtime,genres,production_countries,seasons,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,person_id,name,character,role
0,It's a Wonderful Life,MOVIE,A holiday favourite for generations... George...,1946,130,drama,'US',0.0,8.6,467766.0,27.611,8.261,25020.0,James Stewart,George Bailey,ACTOR
1,It's a Wonderful Life,MOVIE,A holiday favourite for generations... George...,1946,130,drama,'US',0.0,8.6,467766.0,27.611,8.261,26190.0,Donna Reed,Mary Hatch,ACTOR

In [161]:
df['genres'] = df['genres'].str.replace(r'[','').str.replace(r']','').str.replace(r"'",'')
df['genres'] = df['genres'].str.split(',').str[0]

In [162]:
df['production_countries'] = df['production_countries'].str.replace(r'[','').str.replace(r']','')
df['production_countries'] = df['production_countries'].str.split(',').str[0]

In [171]:
df['genres'].unique()

array(['drama', 'comedy', 'western', 'romance', 'action', 'fantasy',
       'horror', 'thriller', 'documentation', 'music', 'crime', 'reality',
       'war', 'scifi', 'history', nan, 'family', 'animation', 'sport'],
      dtype=object)

In [172]:
df['production_countries'].unique()

array(["'US'", "'GB'", "'SU'", "'DE'", "'MX'", "'CA'", "'IT'", "'MA'",
       "'HK'", "'FR'", "'JP'", "'PR'", "'ES'", "'IE'", "'PH'", "'IN'",
       "'CH'", "'RO'", "'YU'", nan, "'KR'", "'TW'", "'MC'", "'EG'",
       "'AU'", "'NZ'", "'AT'", "'ZA'", "'LI'", "'BR'", "'SE'", "'IL'",
       "'DK'", "'IR'", "'PT'", "'BE'", "'FI'", "'AR'", "'NL'", "'RU'",
       "'ID'", "'VE'", "'XC'", "'NO'", "'BG'", "'CN'", "'TH'", "'CL'",
       "'LU'", "'DO'", "'CO'", "'AE'", "'PL'", "'SK'", "'JM'", "'IS'",
       "'RS'", "'CZ'", "'GR'", "'LT'", "'KZ'", "'UY'", "'MT'", "'AF'",
       "'NG'", "'TR'", "'VN'", "'KE'", "'BO'", "'GE'", "'TT'", "'HU'",
       "'MY'", "'PK'", "'SG'", "'UA'", "'TC'", "'LB'", "'MN'", "'CR'",
       "'XK'", "'KH'", "'CM'", "'CU'", "'LV'", "'SY'", "'BM'", "'IO'",
       "'PA'", "'EE'", "'TN'", "'PE'", "'QA'", "'CI'", "'ET'", "'PS'",
       "'SA'", "'GL'", "'JO'", "'CD'", "'PY'", "'IQ'", "'BD'", "'TZ'",
       "'SN'", "'BT'", "'AO'", "'GH'", "'ZW'", "'MW'", "'KW'", "'MU'",
       "'FO'", "'SB'", "'DZ'", "'MK'"], dtype=object)

In [170]:
df['production_countries'] = df['production_countries'].replace('',np.nan)
df['genres'] = df['genres'].replace('',np.nan)

In [176]:
df.isnull().sum()/len(df)*100

title                   0.0
type                    0.0
description             0.0
release_year            0.0
runtime                 0.0
genres                  0.0
production_countries    0.0
seasons                 0.0
imdb_score              0.0
imdb_votes              0.0
tmdb_popularity         0.0
tmdb_score              0.0
person_id               0.0
name                    0.0
character               0.0
role                    0.0
dtype: float64

In [175]:
df.dropna(inplace = True)